<%= form_for @player do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    Select Tournament
    <%= f.select "contest_id", options_from_collection_for_select(@tournaments, "id", "name") %>
      
  </p>  
  <p><%= f.submit %></p>
<% end %>
